* {
    box-sizing: border-box;
  }

h1{
    font-size:40pt;
    text-align:center;
    margin:20px;
    
}

#buttons-view{
    text-align:center;
    margin:20px;
}


#giphy-form{
    text-align:center;
    margin:20px;
}

#gif-container{
   
    
}

.gif-btn{
    margin:5px;
}

img{
    margin:5px;
    float:left;
}

.display{
    float:left;
}